<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start" >
      <ion-back-button
      defaultHref="/" text="Regresar"
      color="primary"
      mode="ios"></ion-back-button>
      </ion-buttons>

    <ion-title>inputt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input label="Nombres" placeholder="Mayerly Rocio Leon"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Apellido" labelPlacement="fixed" placeholder="Ingrese apellidos"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Semestre Actual" labelPlacement="stacked" placeholder="Ingrese el semestre correspondiente"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Materia" labelPlacement="floating" placeholder="Ingrese materia"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
